@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.img-mask {
  mask-image: linear-gradient(
    black 80%,
    transparent
  );
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
  field-sizing: content;
}

.decoration-light {
  background-image: url('/assets/light.svg'); 
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.decoration-grid {
  background-image: url('/assets/grid-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.decoration-grid-service {
  background-image: url('/assets/grid.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.decoration-grid-contact {
  background-image: url('/assets/pattern.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}